configuration{
    modes: "drun,run,window";
    kb-move-char-forward: "";
    kb-move-char-back: "";
    kb-mode-next: "Right,Super_L+Right";
    kb-mode-previous: "Left,Super_L+Left";
    icon-theme: "Flat-Remix-Blue-Dark";
    font: "Inter Medium 16";
    show-icons: true;
    terminal: "wezterm start";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
}
@theme "/home/lukas/.local/share/rofi/themes/spotlight-dark.rasi"
